<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label>APR</label>
    <input type="text" name="user_APR">
  </div>

  <div>
    <label>
      Number of years
    </label>
    <input type="text" name="user_years">
  </div>

  <div>
    <label>
      Principal
    </label>
    <input type="text" name="user_pv">
  </div>

  <button>Calculate monthly payment</button>

</form>
