<h1>Payment Results</h1>

<p> A <%= @user_years.round(0) %> year loan of <%= number_to_currency(@user_principal) %>, with an annual interest rate of <%= (@user_interest_rate).round(2) %>%, requires a monthly payment of <%= number_to_currency(@monthly_payment) %>.
</p>
